extends template

prepend page
	- var layout = 'home';
	- var currentPage = 'home';
	- var pageTitle = settings.ogDefaults.title;
	- var pageDesc = settings.ogDefaults.description;
	- var pageImg = settings.ogDefaults.image;

block content
	.page(class="page--" + currentPage)
		section.section-main
			.l-container
				.section-main__content
					.section-main__heading
						.logo: img(src="../build/img/logo.png", alt="Diego M")
						.heading !{data.main.heading}
						.subheading !{data.main.subheading}
					.section-main__img: img(src="../build/img/maria.png", alt="Мария Кожевникова")
		section.section-photos
			.l-container
				.section-photos__heading
					.heading !{data.photos.heading}
					.text 
						p !{data.photos.headingText}
				.section-photos__content
					each n in [2, 1, 3]
						.photo__item(class="photo__item--" + n)
							img.photo__img(src="../build/img/photos/" + n + ".jpg", alt="")
					.section-photos__text
						.text--1
							.text
								p !{data.photos.text1}
					each n in [4, 5, 8]
						.photo__item(class="photo__item--" + n)
							img.photo__img(src="../build/img/photos/" + n + ".jpg", alt="")
					.section-photos__text
						.text--2
							.text
								p !{data.photos.text2}
					each n in [6, 7]
						.photo__item(class="photo__item--" + n)
							img.photo__img(src="../build/img/photos/" + n + ".jpg", alt="")
					.highlight
						p !{data.photos.highlight}
		section.section-products
			.l-container
				.section-products__content
					.section-products__title !{data.products.title}
					+carousel(data.products.ps)